// Colors
$clock-bg: #fff;
$clock-border: 3px solid #4f4f4f;
$divider-color: #767676;

// Scale values
$clock-height: 150px;

$time-scale: 8;
$period-scale: $time-scale / 3;

.clock {
  background: $clock-bg;
  border: $clock-border;
  border-top: none;

  width: 83%;
  margin: auto;
  height: $clock-height;
}

.time {
  margin-top: -5px;

  font-family: $Montserrat;
  font-weight: $font-normal;

  #cur-time {
    font-weight: $font-normal;
    font-size: modular-scale(8);
    text-align: center;

    margin: 0;

    position: relative;
    top: 0;
  }

  #cur-period {
    font-size: modular-scale(3);

    position: relative;
    left: 75%;
    bottom: modular-scale($time-scale); // align with top of time characters
  }
}

.divider {
  height: 0;
  width: 80%;

  background: none;
  margin: 15px auto;

  // we have to cut into the time text since the text size is so big
  margin-top: -7%;

  border-bottom: 3px dashed $divider-color;
}

.date {
  font-family: OpenSans;
  font-weight: $font-light;
  font-size: modular-scale(2);

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5.1px;
}
