$dn-brand-color: #2d72d9;
$dn-text-color: #fff;

.dn-header {
  background: $dn-brand-color;

  h2 {
    color: $dn-text-color;
  }
}

.dn-item {
  .story-index {
    background: $dn-brand-color;
    color: $dn-text-color;
  }
}
