$dn-brand-color: #2d72d9;
$dn-text-color: #fff;

.dn-header {
  background: $dn-brand-color;

  h2 {
    color: $dn-text-color;
    float: right;
  }
}

.dn-item {
  .story-index {
    background: $dn-brand-color;
    color: $dn-text-color;
  }
}

// Refresh Icon //
.dn-container .icon-refresh {
  background: url('../img/refresh-light-small.png');
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: 7px;
  left: 7px;

  $size: 12px;
  width: $size;
  height: $size;
}
