$hn-brand-color: #ff6600;
$hn-text-color: #303030;

.hn-header {
  background: $hn-brand-color;

  h2 {
    color: $hn-text-color;
    float: left;
  }
}

.hn-item {
  .story-index {
    background: $hn-brand-color;
    color: $hn-text-color;
  }
}

// Refresh Icon //
.hn-container .icon-refresh {
  background: url('../img/refresh-dark-small.png');
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: 7px;
  right: 7px;

  $size: 12px;
  width: $size;
  height: $size;
}
