$hn-brand-color: #ff6600;
$hn-text-color: #303030;

.hn-header {
  background: $hn-brand-color;

  h2 {
    color: $hn-text-color;
  }
}

.hn-item {
  .story-index {
    background: $hn-brand-color;
    color: $hn-text-color;
  }
}

// Loading Animation
.hn-loading {
  &::before {
    background: rgba($hn-brand-color, .75);
  }

  &::after {
    border-color: rgba($hn-brand-color, .1);
  }
}
