@import '../lib/bourbon/bourbon';

// Weather Icons //
@mixin weather-icon($icon-name) {
  background: url("../img/weather-icons/#{$icon-name}.png") left no-repeat;
  background-size: contain;
}

.condition {
  // default
  @include weather-icon('unknown');

  &.clear-day { @include weather-icon('clear-day'); }
  &.clear-night { @include weather-icon('clear-night'); }
  &.cloudy { @include weather-icon('cloudy'); }
  &.partly-cloudy-day { @include weather-icon('partly-cloudy-day'); }
  &.partly-cloudy-night { @include weather-icon('partly-cloudy-night'); }
  &.rain { @include weather-icon('rain'); }
  &.snow { @include weather-icon('snow'); }
}

// Weather Card Settings //
$curcondition-size: 48px;
$futurecondition-size: 22px;
$temp-color: #333;

.weather-card {
  @include user-select(none);
  cursor: default;
  // See this for distributing contents evenly (vertically)
  // http://stackoverflow.com/questions/6865194/fluid-width-with-equally-spaced-divs/6880421#6880421

  // height: 100%;
  // width: 100%;
}

.weather-card .city {
  color: $font-color-dark;
  font-family: $Raleway;
  font-size: modular-scale(4);
  font-weight: $font-light;
  text-align: center;
}

.weather-card .weather-current {
  @include clearfix;

  width: 100%;
  height: 20%;

  margin-top: -3%;

  .condition {
    float: left;

    height: $curcondition-size;
    width: $curcondition-size;

    margin-top: 4px;
    margin-left: 10%;
  }

  .temp {
    float: right;

    color: rgba($temp-color, .75);
    font-family: $Montserrat;
    font-size: modular-scale(5);
    font-weight: $font-normal;

    margin-right: 5px;
  }
}

.weather-card .weather-future {
  @include clearfix;

  width: 100%;
  margin-top: 3%;

  .time-of-day {
    float: left;

    color: $font-color-dark;
    font-family: $Raleway;
    font-size: modular-scale(2);
    font-weight: $font-normal;

    margin-top: 2.5%;
    margin-left: 10px;
  }

  // 'Tomorrow' value will cause image to wrap, pull it left
  .wide {
    margin-left: 3px;
  }

  .condition {
    float: right;

    margin-top: 2.5%;
    margin-right: 2%;

    width: $futurecondition-size;
    height: $futurecondition-size;
  }

  .temp {
    float: right;

    margin-top: 6px;
    margin-right: 10px;

    color: rgba($temp-color, .5);
    font-family: $Montserrat;
    font-size: modular-scale(2);
    font-weight: $font-normal;
  }
}
