@import '../lib/bourbon/bourbon';

// TODO: in my messing around this got way out of hand. REFACTOR.

// Weather Icons //
@mixin weather-icon($icon-name) {
  background: url("../img/weather-icons/#{$icon-name}.png") left no-repeat;
  background-size: contain;
}

.condition {
  // default
  @include weather-icon('unknown');

  &.clear-day { @include weather-icon('clear-day'); }
  &.clear-night { @include weather-icon('clear-night'); }
  &.cloudy { @include weather-icon('cloudy'); }
  &.partly-cloudy-day { @include weather-icon('partly-cloudy-day'); }
  &.partly-cloudy-night { @include weather-icon('partly-cloudy-night'); }
  &.rain { @include weather-icon('rain'); }
  &.snow { @include weather-icon('snow'); }
  &.wind { @include weather-icon('wind'); }
}

// Weather Card Settings //
$curcondition-size: 48px;
$futurecondition-size: 28px;
$temp-color: #333;

$small-section-ratio: 28.75%;
$large-section-ratio: 42%;

// A word on how these are laid out:
// It's a huge hassle getting these things to center vertically at larger sizes
// so, knowing that the icon size & text size will not change I can make the
// content divs be pixel perfect and then have their containers achieve the
// desired ratio. Not the best way but it works.

.weather-card {
  @include user-select(none);
  cursor: default;

  $card-vert-padding: 5px;
  height: 100%;
  padding: $card-vert-padding 0;
  min-height: $min-widget-height - 2*($card-vert-padding);

  .city-container, .future-container {
    @include row();
    height: $small-section-ratio;
  }

  .current-container {
    @include row();
    height: $large-section-ratio;
  }
}

.weather-card .city {
  @include center-vertically();
  color: $font-color-dark;
  font-family: $Raleway;
  font-size: modular-scale(4);
  font-weight: $font-light;
  text-align: center;
}

.weather-card .weather-current {
  @include clearfix;
  @include center-vertically();

  width: 100%;
  height: 48px;
  text-align: center;

  & .condition, & .temp {
    height: 100%;
  }

  .condition {
    float: left;
    width: $curcondition-size;
    height: 100%;
    margin-left: 10%;
    background-size: contain;
  }

  .temp {
    float: right;
    margin-right: 5px;

    color: rgba($temp-color, .75);
    font-family: $Montserrat;
    font-size: modular-scale(5);
    font-weight: $font-normal;
  }
}

.weather-card .weather-future {
  @include clearfix;
  @include center-vertically();

  width: 100%;
  height: 33px;
  padding-bottom: 2px;


  & span, & .temp {
    height: 100%;
    vertical-align: sub;
  }

  .time-of-day {
    float: left;

    color: $font-color-dark;
    font-family: $Raleway;
    font-size: modular-scale(2);
    font-weight: $font-normal;

    margin-left: 10px;
  }

  // 'Tomorrow' value will cause image to wrap, pull it left
  .wide {
    margin-left: 3px;
  }

  .condition {
    float: right;
    margin-right: 4%;
    margin-top: 3px;

    width: $futurecondition-size;
    height: 100%;
    background-size: contain;
  }

  .temp {
    float: right;
    margin-right: 10px;

    color: rgba($temp-color, .5);
    font-family: $Montserrat;
    font-size: modular-scale(2);
    font-weight: $font-normal;
  }
}
