$pane-header-border: #4f4f4f;

.pane {
  height: 100%;
  width: 100%;
  background: #e7e9e9;
  overflow: hidden;
}

.pane-header {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid $pane-header-border;

  h2 {
    white-space: nowrap;

    font-family: Montserrat;
    font-weight: normal;
    font-size: modular-scale(5);

    margin: auto;
    text-align: center;
    padding-top: 20px;
  }
}
