@import '../lib/bourbon/bourbon';

$story-bg: #fafafa;
$index-size: 80px;

.story-item {
  @include clearfix;
  background: $story-bg;

  width: 90%;
  margin: auto;
  margin-top: 15px
}

.story-index {
  float: left;
  display: inline-block;
  background: #d8d8d8;

  width: $index-size;
  height: $index-size;

  // this won't work for every size but it's a good approximation
  padding: ($index-size / 10) ($index-size / 2.6666667);

  // we have to use a span, h1 will cause weird spacing
  span {
    font-family: $Montserrat;
    font-size: modular-scale(6);
    text-align: center;
  }
}

.story-title, .story-metadata {
  @include calc(width, "100% - #{$index-size}");
  float: right;
}
