@import '../lib/bourbon/bourbon';
@import '../globals/helpers';

$story-bg: #fafafa;
$story-title-color: #404040;
$story-meta-color: #a0a0a0;

$index-size: 80px;

.story-list {
  width: 100%;
  height: 100%;
  margin: auto;
}

.story-item {
  @include clearfix;
  overflow: hidden;
  background: $story-bg;

  width: 90%;
  height: $index-size;
  max-height: $index-size;
  min-height: $index-size;

  margin: auto;
  margin-top: 15px
}

.story-index {
  float: left;
  display: inline-block;
  background: #d8d8d8;

  width: $index-size;
  height: $index-size;

  // this won't work for every size but it's a good approximation
  padding: ($index-size / 10) ($index-size / 2.9);

  // we have to use a span, h1 will cause weird spacing
  span {
    font-family: $Montserrat;
    font-size: modular-scale(6);
    text-align: center;
  }
}

%article-data-box {
  @include calc(width, "100% - #{$index-size}");
  float: right;
  padding-left: .5rem;
}

.story-title {
  @extend %article-data-box;

  font-family: $Lora;
  font-size: modular-scale(-1);
  line-height: 1.6;
  -webkit-line-clamp: 2;

  overflow: hidden;
  text-overflow: ellipsis;

  $title-height: $index-size - 40px;
  height: $title-height;
  min-height: $title-height;
  max-height: $title-height;

  padding-right: 3%;
  margin: 10px auto;

  a {
    color: $story-title-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.story-metadata {
  @extend %article-data-box;

  position: relative;
  bottom: 2px;

  font-family: $OpenSans;
  font-weight: $font-light;
  color: $story-meta-color;
  font-size: modular-scale(-2);

  .story-upvotes, .story-author, .story-comments {
    float: left;
    margin-right: .5em;
  }

  .story-author {
    margin-left: 2%;
  }

  .story-data-divider::after {
    content: '|';
    display: inline-block;
    float: left;
    margin-right: .5em;
    margin-left: 0;
  }

  .story-comments {
    color: $story-meta-color;
    text-decoration: none;
  }
}

// This is the loading animation for news feeds, intended to be color
// customized

// Loading Animation Settings:
$spinner-color: #000;

$spinner-size: 8px;
$spinner-radius: 32px;

.feed-loading-anim {
  height: $spinner-radius;
  width: $spinner-radius;

  margin: auto;
  position: relative;
  top: 25%;

  // spinner
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -($spinner-size + 1);
    margin: -4px 0 0;
    width: $spinner-size;
    height: $spinner-size;
    border-radius: 50%;
    background: rgba($spinner-color, .9);
    opacity: 1;
    @include transform-origin(25px 50%);

    @include animation-name(loading-effect-during, loading-effect-after);
    @include animation-duration(5s, .7s);
    @include animation-iteration-count(1, infinite);
    @include animation-timing-function(ease, linear);
    @include animation-fill-mode(forwards);
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content: '';
    opacity: 1;
    pointer-events: none;

    border: $spinner-size solid rgba($spinner-color, .1);
    @include animation(loading-effect-outer-ring 5s ease-in 1);
  }
}

@include keyframes(loading-effect-outer-ring) {
  0%, 5% {
    opacity: 0;
    @include transform(scale3d(0, 0, 1));
  }

  10%, 100% {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
  }
}

@include keyframes(loading-effect-during) {
  0%, 5% {
    opacity: 0;
  }

  10%, 100% {
    opacity: 1;
  }
}

@include keyframes(loading-effect-after) {
  100% {
    @include transform(rotate3d(0, 0, 1, 360deg))
  }
}
