@import '../lib/bourbon/bourbon';
@import '../globals/helpers';

$story-bg: #fafafa;
$story-title-color: #404040;
$story-meta-color: #a0a0a0;

$index-size: 80px;

.story-list {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
}

.story-item {
  @include clearfix;
  overflow: hidden;
  background: $story-bg;

  width: 90%;
  height: $index-size;
  max-height: $index-size;
  min-height: $index-size;

  margin: auto;
  margin-top: 15px
}

.story-index {
  float: left;
  display: inline-block;
  background: #d8d8d8;

  width: $index-size;
  height: $index-size;

  // this won't work for every size but it's a good approximation
  padding: ($index-size / 10) ($index-size / 2.9);

  // we have to use a span, h1 will cause weird spacing
  span {
    font-family: $Montserrat;
    font-size: modular-scale(6);
    text-align: center;
  }
}

%article-data-box {
  @include calc(width, "100% - #{$index-size}");
  float: right;
  padding-left: .5rem;
}

.story-title {
  @extend %article-data-box;

  font-family: $Lora;
  font-size: modular-scale(-1);
  line-height: 1.6;
  -webkit-line-clamp: 2;

  overflow: hidden;
  text-overflow: ellipsis;

  $title-height: $index-size - 40px;
  height: $title-height;
  min-height: $title-height;
  max-height: $title-height;

  padding-right: 3%;
  margin-top: 3%;
  margin-bottom: 10px;

  a {
    color: $story-title-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.story-metadata {
  @extend %article-data-box;

  white-space: nowrap;

  font-family: $OpenSans;
  font-weight: $font-light;
  color: $story-meta-color;
  font-size: modular-scale(-2);

  .story-upvotes, .story-author, .story-comments {
    float: left;
    margin-right: .5em;
  }

  .story-author {
    margin-left: 1.5em;
  }

  .story-data-divider::after {
    content: '|';
    display: inline-block;
    float: left;
    margin-right: .5em;
    margin-left: 0;
  }

  .story-comments {
    text-decoration: none;
    color: $story-meta-color;
  }
}
