$min-widget-height: 125px;
$widget-height: 100%;

%widget-card {
  @include span-columns(6);

  background: $card-bg-color;
  border: $card-border;
  height: $widget-height;
  min-height: $min-widget-height;
  // max-height: $min-widget-height;

  overflow: hidden;
}

.left-widget {
  @extend %widget-card;
  @include shift(3);
}

.right-widget {
  @extend %widget-card;
}
