%widget-card {
  @include span-columns(5.8);

  background: $card-bg-color;
  border: $card-border;
  height: 100%;
}

.left-widget {
  @extend %widget-card;
  float: left;
}

.right-widget {
  @extend %widget-card;
  float: right;
}
