// This is the top level layout
@import 'common';
@import 'lib/neat/neat';

// top level container for the app, React app will be drawn here
.container {
  // we want this container to touch the edges of the page
  @include outer-container(100%);
  height: 100%;
}

// grids
.left-pane, .center-pane, .right-pane {
  height: 100%;
}

.left-pane, .right-pane {
  @include span-columns(3.9);

  @include media($large-screen) {
    @include span-columns(4.05);
  }
}

.center-pane {
  @include span-columns(4.2);

  @include media($large-screen) {
    @include span-columns(3.9);
  }
}

// Center Pane Contents
$show-center-grids: false;

@if ($show-center-grids) {
  .widget-container, .bookmark-container {
    border: 1px solid black;
  }
}

.widget-container {
  margin-top: 5%;

  width: 100%;
  height: 20%;
}

.bookmark-container {
  width: 100%;
  height: 53%;
}
