@import 'common';
@import 'layout';

@import 'sections/pane';

html, body, #content {
  width: 100%;
  height: 100%;
}

html { }

// main background
body {
  background: $page-bg-color;

  min-width: 600px;
}

#content { }
