@import 'common';
@import 'globals/fonts';
@import 'layout';

@import 'sections/pane';

@import 'components/dn';
@import 'components/hn';

html, body, #content {
  width: 100%;
  height: 100%;
}

html {
  font-size: $modular-scale-base;
}

// main background
body {
  background: $page-bg-color;

  min-width: 600px;
}

#content { }
