@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lora';
  src: url("../fonts/lora-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.left-pane, .center-pane, .right-pane {
  height: 100%; }

.left-pane {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 30.9085851714%; }
  .left-pane:last-child {
    margin-right: 0; }

.center-pane {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 33.4675264613%; }
  .center-pane:last-child {
    margin-right: 0; }

.right-pane {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 30.9085851714%; }
  .right-pane:last-child {
    margin-right: 0; }

.widget-container {
  margin-top: 5%;
  width: 100%;
  height: 20%; }

.bookmark-container {
  width: 100%;
  height: 53%; }

.pane {
  height: 100%;
  width: 100%;
  background: #e7e9e9;
  overflow: hidden; }

.pane-header {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #4f4f4f; }
  .pane-header h2 {
    white-space: nowrap;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 39.81312px;
    margin: auto;
    text-align: center;
    padding-top: 20px; }

.hidden {
  display: none; }

.hide {
  opacity: 0; }

.story-list {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll; }
  .story-list::-webkit-scrollbar {
    display: none; }

.story-item {
  overflow: hidden;
  background: #fafafa;
  width: 90%;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  margin: auto;
  margin-top: 15px;
  -webkit-animation: story-item-fadein 0.25s;
  -moz-animation: story-item-fadein 0.25s;
  animation: story-item-fadein 0.25s; }
  .story-item::after {
    clear: both;
    content: "";
    display: table; }
  .story-item:last-child {
    margin-bottom: 160px; }

@-webkit-keyframes story-item-fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes story-item-fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes story-item-fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.story-index {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  float: left;
  display: inline-block;
  background: #d8d8d8;
  width: 80px;
  height: 80px;
  padding: 8px 27.5862068966px; }
  .story-index span {
    font-family: Montserrat, "Helvetica Neue", arial, sans-serif;
    font-size: 47.775744px;
    text-align: center; }

.story-title, .story-metadata {
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  float: right;
  padding-left: .5rem; }

.story-title {
  font-family: Lora, Georgia, Times, serif;
  font-size: 13.3333333333px;
  line-height: 1.6;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding-right: 3%;
  margin: 10px auto; }
  .story-title a {
    color: #404040;
    text-decoration: none; }
  .story-title a:hover {
    text-decoration: underline; }

.story-metadata {
  position: relative;
  bottom: 2px;
  font-family: OpenSans, "Helvetica Neue", arial, sans-serif;
  font-weight: 300;
  color: #a0a0a0;
  font-size: 11.1111111111px; }
  .story-metadata .story-upvotes, .story-metadata .story-author, .story-metadata .story-comments {
    float: left;
    margin-right: .5em; }
  .story-metadata .story-author {
    margin-left: 2%; }
  .story-metadata .story-data-divider::after {
    content: '|';
    display: inline-block;
    float: left;
    margin-right: .5em;
    margin-left: 0; }
  .story-metadata .story-comments {
    color: #a0a0a0;
    text-decoration: none; }

.feed-loading-anim {
  height: 32px;
  width: 32px;
  margin: auto;
  position: relative;
  top: 25%; }
  .feed-loading-anim::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -9px;
    margin: -4px 0 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    -webkit-transform-origin: 25px 50%;
    -moz-transform-origin: 25px 50%;
    -ms-transform-origin: 25px 50%;
    -o-transform-origin: 25px 50%;
    transform-origin: 25px 50%;
    -webkit-animation-name: loading-effect-spinner-fadein, loading-effect-spin;
    -moz-animation-name: loading-effect-spinner-fadein, loading-effect-spin;
    animation-name: loading-effect-spinner-fadein, loading-effect-spin;
    -webkit-animation-duration: 3s, 0.7s;
    -moz-animation-duration: 3s, 0.7s;
    animation-duration: 3s, 0.7s;
    -webkit-animation-iteration-count: 1, infinite;
    -moz-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-timing-function: ease, linear;
    -moz-animation-timing-function: ease, linear;
    animation-timing-function: ease, linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .feed-loading-anim:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content: '';
    opacity: 1;
    pointer-events: none;
    border: 8px solid rgba(0, 0, 0, 0.1);
    -webkit-animation: loading-effect-outer-ring 3s ease-in 1;
    -moz-animation: loading-effect-outer-ring 3s ease-in 1;
    animation: loading-effect-outer-ring 3s ease-in 1; }

@-webkit-keyframes loading-effect-outer-ring {
  0%, 5% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1); }
  10%, 100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1); } }
@-moz-keyframes loading-effect-outer-ring {
  0%, 5% {
    opacity: 0;
    -moz-transform: scale3d(0, 0, 1); }
  10%, 100% {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1); } }
@keyframes loading-effect-outer-ring {
  0%, 5% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -o-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  10%, 100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes loading-effect-spinner-fadein {
  0%, 5% {
    opacity: 0; }
  10%, 100% {
    opacity: 1; } }
@-moz-keyframes loading-effect-spinner-fadein {
  0%, 5% {
    opacity: 0; }
  10%, 100% {
    opacity: 1; } }
@keyframes loading-effect-spinner-fadein {
  0%, 5% {
    opacity: 0; }
  10%, 100% {
    opacity: 1; } }
@-webkit-keyframes loading-effect-spin {
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg); } }
@-moz-keyframes loading-effect-spin {
  100% {
    -moz-transform: rotate3d(0, 0, 1, 360deg); } }
@keyframes loading-effect-spin {
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    -moz-transform: rotate3d(0, 0, 1, 360deg);
    -ms-transform: rotate3d(0, 0, 1, 360deg);
    -o-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg); } }
.left-widget, .right-widget {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 47.1152133411%;
  background: #fff;
  border: 1px solid #eee;
  height: 100%;
  overflow: hidden; }
  .left-widget:last-child, .right-widget:last-child {
    margin-right: 0; }

.left-widget {
  float: left; }

.right-widget {
  float: right; }

#bookmark-1, #bookmark-2, #bookmark-3, #bookmark-4 {
  background: #fff;
  overflow: hidden;
  height: 30%;
  width: 40%;
  position: relative; }

#bookmark-1 {
  float: left;
  top: 10%;
  left: 5%; }

#bookmark-2 {
  float: right;
  top: 10%;
  right: 5%; }

#bookmark-3 {
  float: left;
  top: 25%;
  left: 0%; }

#bookmark-4 {
  float: right;
  top: 25%;
  right: 0%; }

.clock {
  background: #fff;
  border: 3px solid #4f4f4f;
  border-top: none;
  width: 83%;
  margin: auto;
  height: 150px; }

.time {
  margin-top: -5px;
  font-family: Montserrat, "Helvetica Neue", arial, sans-serif;
  font-weight: 400; }
  .time #cur-time {
    font-weight: 400;
    font-size: 68.79707136px;
    text-align: center;
    margin: 0;
    position: relative;
    top: 0; }
  .time #cur-period {
    font-size: 27.648px;
    position: relative;
    left: 75%;
    bottom: 68.79707136px; }

.divider {
  height: 0;
  width: 80%;
  background: none;
  margin: 15px auto;
  margin-top: -7%;
  border-bottom: 3px dashed #767676; }

.date {
  font-family: OpenSans;
  font-weight: 300;
  font-size: 23.04px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5.1px; }

.dn-header {
  background: #2d72d9; }
  .dn-header h2 {
    color: #fff; }

.dn-item .story-index {
  background: #2d72d9;
  color: #fff; }

.dn-loading::before {
  background: rgba(45, 114, 217, 0.75); }
.dn-loading::after {
  border-color: rgba(45, 114, 217, 0.1); }

.hn-header {
  background: #ff6600; }
  .hn-header h2 {
    color: #303030; }

.hn-item .story-index {
  background: #ff6600;
  color: #303030; }

.hn-loading::before {
  background: rgba(255, 102, 0, 0.75); }
.hn-loading::after {
  border-color: rgba(255, 102, 0, 0.1); }

.condition {
  background: url("../img/weather-icons/unknown.png") left no-repeat;
  background-size: contain; }
  .condition.clear-day {
    background: url("../img/weather-icons/clear-day.png") left no-repeat;
    background-size: contain; }
  .condition.clear-night {
    background: url("../img/weather-icons/clear-night.png") left no-repeat;
    background-size: contain; }
  .condition.cloudy {
    background: url("../img/weather-icons/cloudy.png") left no-repeat;
    background-size: contain; }
  .condition.partly-cloudy-day {
    background: url("../img/weather-icons/partly-cloudy-day.png") left no-repeat;
    background-size: contain; }
  .condition.partly-cloudy-night {
    background: url("../img/weather-icons/partly-cloudy-night.png") left no-repeat;
    background-size: contain; }
  .condition.rain {
    background: url("../img/weather-icons/rain.png") left no-repeat;
    background-size: contain; }
  .condition.snow {
    background: url("../img/weather-icons/snow.png") left no-repeat;
    background-size: contain; }

.weather-card .city {
  color: #404040;
  font-family: Raleway, "Helvetica Neue", arial, sans-serif;
  font-size: 33.1776px;
  font-weight: 300;
  text-align: center; }

.weather-card .weather-current {
  width: 100%;
  height: 20%;
  margin-top: -3%; }
  .weather-card .weather-current::after {
    clear: both;
    content: "";
    display: table; }
  .weather-card .weather-current .condition {
    float: left;
    height: 48px;
    width: 48px;
    margin-top: 4px;
    margin-left: 10%; }
  .weather-card .weather-current .temp {
    float: right;
    color: rgba(51, 51, 51, 0.75);
    font-family: Montserrat, "Helvetica Neue", arial, sans-serif;
    font-size: 39.81312px;
    font-weight: 400;
    margin-right: 5px; }

.weather-card .weather-future {
  width: 100%;
  margin-top: 3%; }
  .weather-card .weather-future::after {
    clear: both;
    content: "";
    display: table; }
  .weather-card .weather-future .time-of-day {
    float: left;
    color: #404040;
    font-family: Raleway, "Helvetica Neue", arial, sans-serif;
    font-size: 23.04px;
    font-weight: 400;
    margin-top: 2.5%;
    margin-left: 10px; }
  .weather-card .weather-future .wide {
    margin-left: 3px; }
  .weather-card .weather-future .condition {
    float: right;
    margin-top: 2.5%;
    margin-right: 2%;
    width: 22px;
    height: 22px; }
  .weather-card .weather-future .temp {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    color: rgba(51, 51, 51, 0.5);
    font-family: Montserrat, "Helvetica Neue", arial, sans-serif;
    font-size: 23.04px;
    font-weight: 400; }

html, body, #content {
  background: #f0f0f0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

html {
  font-size: 16px; }

#content {
  min-width: 1100px; }

/*# sourceMappingURL=main.css.map */
