@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Lora';
  src: url("../fonts/lora-regular.ttf") format("truetype");
  font-weight: 400; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.left-pane, .center-pane, .right-pane {
  height: 100%; }

.left-pane {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .left-pane:last-child {
    margin-right: 0; }

.center-pane {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .center-pane:last-child {
    margin-right: 0; }

.right-pane {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .right-pane:last-child {
    margin-right: 0; }

.pane {
  height: 100%;
  background: #e7e9e9;
  overflow: hidden; }

.pane-header {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #4f4f4f; }
  .pane-header h2 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 39.81312px;
    margin: auto 7%;
    padding-top: 20px; }

.hidden {
  display: none; }

.hide {
  opacity: 0; }

.story-item {
  overflow: hidden;
  background: #fafafa;
  width: 90%;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  margin: auto;
  margin-top: 15px; }
  .story-item::after {
    clear: both;
    content: "";
    display: table; }

.story-index {
  float: left;
  display: inline-block;
  background: #d8d8d8;
  width: 80px;
  height: 80px;
  padding: 8px 29.999999625px; }
  .story-index span {
    font-family: Montserrat, "Helvetica Neue", arial, sans-serif;
    font-size: 47.775744px;
    text-align: center; }

.story-title, .story-metadata {
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  float: right;
  padding-left: 1rem; }

.story-title {
  font-family: Lora, Times, serif;
  font-size: 13.3333333333px;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding-right: 3%;
  margin-top: 3%;
  margin-bottom: 5px; }
  .story-title a {
    color: #404040;
    text-decoration: none; }
  .story-title a:hover {
    text-decoration: underline; }

.story-metadata {
  font-family: OpenSans, "Helvetica Neue", arial, sans-serif;
  font-weight: 300;
  color: #a0a0a0;
  font-size: 11.1111111111px; }
  .story-metadata .story-upvotes, .story-metadata .story-author, .story-metadata .story-comments {
    float: left;
    margin-right: .5em; }
  .story-metadata .story-data-divider::after {
    content: '|';
    display: inline-block;
    float: left;
    margin-right: .5em;
    margin-left: 0; }

.clock {
  background: #fff;
  border: 3px solid #4f4f4f;
  border-top: none;
  width: 100%;
  height: 150px; }

.time {
  margin-top: -5px;
  font-family: Montserrat, "Helvetica Neue", arial, sans-serif;
  font-weight: 400; }
  .time #cur-time {
    font-weight: 400;
    font-size: 68.79707136px;
    text-align: center;
    margin: 0;
    position: relative;
    top: 0; }
  .time #cur-period {
    font-size: 27.648px;
    position: relative;
    left: 75%;
    bottom: 68.79707136px; }

.divider {
  height: 0;
  width: 80%;
  background: none;
  margin: 15px auto;
  margin-top: -7%;
  border-bottom: 3px dashed #767676; }

.date {
  font-family: OpenSans;
  font-weight: 300;
  font-size: 23.04px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5.1px; }

.dn-header {
  background: #2d72d9; }
  .dn-header h2 {
    color: #fff; }

.hn-header {
  background: #ff6600; }
  .hn-header h2 {
    color: #404040; }

html, body, #content {
  background: #f0f0f0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

html {
  font-size: 16px; }

body {
  min-width: 600px; }

/*# sourceMappingURL=main.css.map */
